version: '3.8'

services:
  nginx:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx
    ports:
      - '81:81'
      - '443:443'
    restart: unless-stopped
    environment:
      DB_MYSQL_HOST: "db"
      DB_MYSQL_PORT: 3306
      DB_MYSQL_USER: "npm"
      DB_MYSQL_PASSWORD: "npm"
      DB_MYSQL_NAME: "npm"
    volumes:
      - nginx-data:/data
      - letsencrypt-data:/etc/letsencrypt
    depends_on:
      - db
    deploy:
      placement:
        constraints:
         - node.role == master
  db:
    image: 'jc21/mariadb-aria:latest'
    container_name: nginx-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: 'npm'
      MYSQL_DATABASE: 'npm'
      MYSQL_USER: 'npm'
      MYSQL_PASSWORD: 'npm'
    volumes:
      - db-data:/var/lib/mysql
    deploy:
      placement:
        constraints:
         - node.role == master

volumes:
  nginx-data:
    driver: local
  db-data:
    driver: local
  letsencrypt-data:
    driver: local
